#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}

.Campus Life_mainDiv
{
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none
}

.Campus Life_mainDiv img
{
  width: 19;
}

.Campus Life_mainDiv hr
{
    width: 230px; 
}

.Campus Life_mainDiv h5 , .travel_mainDiv p
{
margin-left: 20px;
}


.School Achievements_head
{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.School Achievements_head i
{
float: right;
}

.School Achievements_text span
{
color: #ff7700;
}
